@import './variables.scss';

.categoryContainer {
    padding-inline: 25px;
    margin-left: 1rem;

    .categoryTitle {
        font-size: 2rem;
    }

    .cardContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    @media screen and (max-width:$mobile) {
        margin-left: 0rem;
    }

    .categoryTitle {
        font-weight: normal;
        font-size: 1.5rem;

        @media screen and (max-width:$mobile) {
            font-size: 1.2rem;
        }
    }
}